@model Food

<div class="card py-4 is-showdow-2xl is-shadow-none is-cursor-pointer transform is-duration-500 hover-translate-y">
  <a asp-controller="Foods" asp-action="Details" asp-route-id="@Model.FoodId">
    <div class="card-image p-3">
      <figure class="image is-square">
        <img class="is-img-center" style="object-fit: cover;" src="~/img/@Model.ImgSrc" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content py-5">
      <div class="content">
        @* <h3 class="is-size-6 has-text-info">Hot Collection</h3> *@
        <h2 class="my-2">@Model.Name</h2>
        <p class="mb-4">@Model.Description</p>
        <p class="is-size-5 has-text-weight-bold mb-5">@Model.Price @Model.MoneyUnit</p>
        @* <a class="button is-danger" href="#">Delete</a> *@
        <a href="/foods/@Model.FoodId" class="button is-danger has-text-black"> Delete </a>
      </div>
    </div>
  </a>
</div>
