@model Food


<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="card p-4 py-6 rounded-xl is-cursor-pointer transform is-duration-300 hover-translate-y">
          <div class="card-image p-5 pb-6">
            <figure class="image">
              <img class="is-img-center" src="~/img/@Model.ImgSrc" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3 class="is-size-1 has-text-weight-bold mb-6">@Model.FoodId</h3>
              <h4 class="is-size-5 mb-5">@Model.Name</h4>
              <p class="is-size-6 has-text-weight-light">
                Lorem ipsum leo risus, porta ac consectetur ac, vestibulum at eros. Donec id elit non miy losre, Lorem
                ipsum leo risus, porta consectetur..
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
@* <section class="section">
<div class="container">
<div class="columns">
<div class="column">
<div
class="card columns is-horizontal shadow-md is-cursor-pointer transform is-duration-300 hover-shadow-xl
hover-translate-y">
<div class="column card-image">
<figure class="image">
<img src="~/img/@Model.ImgSrc" alt="Image of @Model.Name">
</figure>
</div>
<div class="column card-content p-0 is-flex is-flex-direction-column is-justify-content-space-between">
<div class="content p-5 has-text-grey-light">
<h3>@Model.Name</h3>
<p class="is-size-6 has-text-weight-normal">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum sapiente possimus doloribus quo error
necessitatibus? Non, ad. Assumenda, rerum necessitatibus.
</p>
</div>
<div class="content p-5 ">
<div class="columns">
<div class="column">
<p class="is-size-12 has-text-weight-semibold">
@Model.Price @Model.MoneyUnit
</p>

</div>
<div class="column">
<button class="button is-danger is-small is-fullwidth has-text-weight-semibold">Delete</button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section> *@